[class*="animate-"]{
	transition-property: all;
	transition-duration: 600ms;
}

// $time: 100 200 300 400 500 600 700 800 900 1000 1100 1200 1300;
@for $i from 1 to 14{
	$delay: $i * 100;
	.delay#{$delay}{
		transition-delay: #{$delay}ms;
	}
	.animation-delay#{$delay}{
		animation-delay: #{$delay}ms;
	}
}

@keyframes bounce{
	0% { transform: translateX(-1000px); }
	70% { transform: translateX(20px); }
	100% { transform: translateX(0px); }
}

@keyframes bounce-right{
	0% { transform: translateX(2000px); }
	70% { transform: translateX(-20px); }
	100% { transform: translateX(0px); }
}

@keyframes bounce-top-down{
	0% { transform: translateY(-1000px); }
	70% { transform: translateY(20px); }
	100% { transform: translateY(0px); }
}

@keyframes hero-object{
	0% { transform: translate(3000px, -1000px) scale(0.5); }
	50% { transform: translateX(-3000px) scale(0.8); }
	100% { transform: translateX(0px); }
}

@keyframes ball-bounce{
	0% { transform: translateY(0px) }
	25% { transform: translateY(-20px) }
	50% { transform: translateY(0px) }
	75% { transform: translateY(20px) }
	100% { transform: translateY(0px) }
}

.animate-fade{
	opacity: 0;
	visibility: hidden;
	transition-duration: 800ms;
	&.showup{
		opacity: 1;
		visibility: visible;
	}
}

.animate-bottom-up{
	opacity: 0;
	visibility: hidden;
	transform: translateY(20px);
	&.showup{
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}

.animation-edge-left{
	display: inline-block;
	animation-name: bounce;
	animation-duration: 600ms;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	transform: translateX(-1000px);
	&.showup{
		animation-play-state: running;
	}
}

.animation-edge-right{
	display: inline-block;
	animation-name: bounce-right;
	animation-duration: 600ms;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	transform: translateX(2000px);
	&.showup{
		animation-play-state: running;
	}
}

.animation-edge-top{
	display: inline-block;
	animation-name: bounce-top-down;
	animation-duration: 800ms;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	transform: translateY(-1000px);
	&.showup{
		animation-play-state: running;
	}
}

.animate-face-zoom-in{
	transition-property: all;
	transition-duration: 800ms;
	transform: scale(1.5);
	opacity: 0;
	visibility: hidden;
	&.showup{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

.animation-ball{
	animation-name: ball-bounce;
	animation-duration: 1000ms;
	animation-play-state: paused;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: 1000ms;
	&.showup{
		animation-play-state: running;
	}
	&:hover{
		animation-play-state: paused;
		animation-timing-function: linear step-end;
	}
}
body.finish-intro{
	.animation-ball{
		animation: none;
	}
}

.animation-hero-object{
	animation-name: hero-object;
	animation-duration: 3000ms;
	animation-play-state: paused;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	transform: translate(3000px, -1000px);

	&.showup{
		animation-play-state: running;
	}
}
