html{
	font-size: 10px;
}
body{
	font-size: 1.6rem;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $gotham;
	background-color: $page-bg;
	color: $gray;
	overflow-x: hidden;
}
strong{
	color: $heading;
}
[ng-click], a{
	cursor: pointer;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
h1, h2, h3, h4{
	color: $heading;
	font-weight: 300;
}

@mixin aspect-ratio($width, $height){
	position: relative;
	&:after{
		content: "";
		display: block;
		padding-top: #{$height / $width * 100}%;
	}
	.content{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

.btn{
	border-radius: 0;
	padding: 10px 20px;
	background-color: #fff;
	&.active{
		background: #E3E5E6;
		box-shadow: none;// 0px 5px 20px 0px rgba(0,0,0,0.10);
	}
}

.btn-group{
	display: inline-block;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.10);
	.btn{
		display: inline-block;
	}
}