html{
	font-size: 10px;
}
body{
	font-size: 1.4rem;
	line-height: 1.4em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $gotham;
	background-color: $page-bg;
}
[ng-click], a{
	cursor: pointer;
}