html{
	font-size: 10px;
}
body{
	font-size: 1.6rem;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $gotham;
	background-color: $page-bg;
	color: $gray;
	overflow-x: hidden;
}
strong{
	color: $heading;
}
[ng-click], a{
	cursor: pointer;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
h1, h2, h3, h4{
	color: $heading;
	font-weight: 300;
}