/**	size **/
$padding-df: 15px;
$padding-wide: 30px;
/** font **/
$gotham: "Gotham", sans-serif;
/**color **/
$gray: #626262;
$dark-gray: #2C3E50;

$page-bg: #F8F9FA;
$heading: $dark-gray;
$body: $gray