.landing{
	position: relative;
	height: 100vh;
	overflow: hidden;
	z-index: 10;
	.welcome{
		position: absolute;
		top: 150px;
		z-index: 100;
		h1{
			font-size: 4.8rem;
			color: #2C3E50;
			letter-spacing: 1.2px;
			font-weight: 300;
		}
	}
}

.object-parallax{
	.backdrop{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		transform: scale(0.8);
	}
}

.object-parallax {
	$x: 0;
	$y: 30%;
	.clip-path{
		/* new function syntax for webkit browsers */
		// shape-inside: circle(0 at $x $y);
		clip-path: circle(0 at $x $y);

		/* old function syntax in Blink */
		// shape-inside: circle($x, $y, 0);
		clip-path: circle($x, $y, 0);

		// shape-padding: 15px;
	  	transition: 1s all;
	  	transform: translate3d(0,0,0);
	}
	&.active .clip-path{
		$amount: 140%;
		/* new function syntax for webkit browsers */
		// shape-inside: circle($amount at $x $y);
		clip-path: circle($amount at $x $y);

		/* old function syntax in Blink */
		// shape-inside: circle($x, $y, $amount);
		clip-path: circle($x, $y, $amount);
	}
}


.object-parallax{
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 200px;
	z-index: 10;

	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.object-inner{
		position: relative;
		transform: translate(50px, 50px);
	}

	.grayscale{
		filter: grayscale(1);
		z-index: 0;
	}
	&.finish-intro{
		.grayscale{ display: none; }
	}
	.color{
		z-index: 10;
	}

	.object-container{
		position: absolute;
		transform: translate(-50%, -50%);
	}

	.object-1{
		top: 50%;
		left: 50%;
	}
	.object-2{
		top: 45%;
		left: 20%;
	}
	.object-3{
		top: 37%;
		left: 70%;
	}
	.shadow{
		top: 85%;
		left: 50%;
	}
}

.section-heading{
	font-weight: 300;
	font-size: 4.8rem;
	color: $heading;
	letter-spacing: 1.2px;
	margin: 0;
}

@import "home/services";