.processing{
	height: 2144px;
	position: relative;
}

.processing-part{
	position: absolute;
	width: 100%;
	height: 800px;
	background-color: #fff;
	z-index: -1;
	.heading{
		margin-top: -26px;
		font-weight: 300;
		font-size: 2.4rem;
		color: $heading;
		letter-spacing: 0.6px;
	}

	&.part-design{
		top: 314px;
	}
	&.part-development{
		top: 1274px;
	}
}
.process-item{
	display: block;
	position: absolute;
	width: 120px;
	height: 120px;
	z-index: 100;
	.inner{
		display: block;
		width: 100%;
		height: 100%;
	}
	.icon{
		display: block;
		height: 100%;
		text-align: right;
		position: relative;
		img{
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	.title{
		position: absolute;
		top: 50%;
		right: 105%;
		height: 30px;
		margin-top: -15px;
		width: 200px;
		text-align: right;
		display: block;

		font-size: 1.4rem;
		font-weight: 600;
		color: $heading;
		letter-spacing: 0.5px;
		line-height: 1.4em;
	}
	.est{
		position: absolute;
		bottom: -15px;
		right: 58%;
		height: 30px;
		line-height: 30px;
		/* 2 H: */
		font-family: $bebas;
		font-weight: 700;
		font-size: 2.4rem;
		color: #AAB2B7;
	}
	.tooltips{
		width: 20px;
		height: 20px;
		position: absolute;
		right: 0;
		top: 0;

		.info{
			display: block;
			font-size: 12px;
			line-height: 22px;
			vertical-align: middle;
			color: #fff;
			cursor: pointer;
			height: 100%;
			background-color: #BDC3C7;
			border-radius: 10px;
			text-align: center;
		}
		.tooltip-popup{
			position: absolute;
			opacity: 0;
			visibility: hidden;
			transition: all 600ms;
			bottom: 100%;
			left: 50%;
			margin-left: -150px;
			margin-bottom: 30px;
			background-color: #fff;
			box-shadow: 0 0 40px 4px #ddd;
			width: 300px;
			padding: $padding-df;
			&:after{
				content: "";
				position: absolute;
				bottom: -10px;
				left: 50%;
				margin-left: -10px;
				display: block;
				width: 20px;
				height: 10px;
				border-top: 10px solid #fff;
				border-bottom: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			}
		}

		&:hover{
			.info{
				background-color: #3EC7A2;
			}
			.tooltip-popup{
				opacity: 1;
				visibility: visible;
			}
		}

		.tooltip-popup{
			ul{
				padding: 0 0 0 20px;
				list-style-image: url(../img/bullet.svg);
			}
		}

		&.bottom{
			.tooltip-popup{
				bottom: auto;
				top: 100%;
				margin-top: 20px;
				&:after{
					bottom: auto;
					top: -10px;
					border-bottom: 10px solid #fff;
					border-top: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
				}
			}
		}
	}
}

.connect{
	position: absolute;

	&.connect-1{
		top: 166px;
		left: 29%;
	}
	&.connect-2{
		top: 464px;
		left: 35%;
	}
	&.connect-3{
		top: 571px;
		left: 17%;
	}
	&.connect-4{
		top: 900px;
		left: 22.5%;
	}
	&.connect-5{
		top: 900px;
		left: 60%;
	}
	&.connect-6{
	    top: 1000px;
	    left: 88%;
	}
	&.connect-7{
		top: 1366px;
		left: 54%;
	}
	&.connect-8{
		top: 1366px;
		left: 17%;
	}
	&.connect-9{
		top: 1494px;
		left: 17%;
	}
	&.connect-10{
		top: 1709px;
		left: 23%;
	}
	&.connect-11{
		top: 1709px;
		left: 61%;
	}
}

.process-item{
	$l1: 50px;
	$l2: 463px;
	$l3: 895px;
	$l4: 1388px;
	$l5: 1709px;
	margin-left: -60px;

	&.discover{
		top: 50px;
		left: 50%;
	}
	&.ideal{
		top: $l2;
    	left: 31%;
	}
	&.prototype{
		top: $l2;
		right: 19%;
	}
	&.look{
		top: $l3;
		left: 19%;	
	}
	&.user-testing{
		top: $l3;
		left: 56%;
	}
	&.iteration{
		top: $l3;
		left: 90%;
	}
	/** level 4 **/
	&.ship{
		top: $l4;
		left: 90%;
	}
	&.tech{
		top: $l4;
		left: 56%;
	}
	&.development{
		top: $l4;
		left: 19%;
	}
	/** level 5 **/
	&.interaction{
		top: $l5;
		left: 19%;
	}
	&.qa{
		top: $l5;
		left: 56%;
	}
	&.maintain{
		top: $l5;
		left: 90%;
	}
}

